:root {
    --primary-color:#f7f2d6;
    --branding-color: #9b690d;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
    --text-color: #51462f; 
}
body{
   font-family: var(--default-font-family);
   
}
.logo {
    max-height: 40px;
    margin: 15px 0;
}
.logo:hover {
    transform: scale(1.2);
    filter: contrast(80%);
    transition: all 150ms ease-in-out;
    cursor: pointer;
}
.reactWeatherApp {
    transition: all 150ms ease-in-out;
    cursor: pointer;
}
.reactWeatherApp:hover {
     transform: scale(1);
     filter: contrast(70%);
}
/*img:hover {
    transform: scale(1.1);
}*/
nav {
    padding: 20px 0;
    background: var(--primary-color);
    align-items: center;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav li, a  {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    line-height: 42px;
    margin:  0 15px;
    color: var(--text-color);
    transition: all 100ms ease-in-out;
}
nav li, a:hover {
    transform: scale(1.2);
    cursor: pointer;
}
nav a:hover, 
nav li.active a{
    color: var(--branding-color);
    
}
p {
    font-size: 18px;
    font-weight: 400;
    color: var(--text-color);
    
}
h1, h2, h3, h4, h5, h6  {
    font-family: var(--heading-font-family);
    font-weight: bold;
    color: black;
}
.hero {
    text-align: center;
    background: var(--primary-color);
    padding: 160px 20px;
}
.hero p {
    font-size: 36px;
    font-weight: 700;
    margin: 0px;
    
}
.hero h1 {
    font-size: 96px;
    font-weight: 700;
    
}
.hero h3 {
    font-size: 24px;
    font-weight: 400;
    font-family: var(--default-font-family);
    color:  var(--text-color);
}
.btn-styling {
    padding: 15px 25px;
    border-radius: 4px;
    background: var(--branding-color);
    color: white;
    transition: all 150ms ease-in-out;
    font-size: 18px;
    font-weight: 500;
}
.my-project-description {
    padding: 100px 40px;
}
.my-project-description h2 {
    font-weight: 700;
    font-size: 55px;
}
.my-project-description p {
    line-height: 30px;
    font-weight: 400;
    font-size: 16px;
    opacity: 70%;
}
.btn-branding {
    padding: 15px 25px;
    border-radius: 4px;
    transition: all 150ms ease-in-out;
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    font-size: 16px;
    font-weight: 500;
}
.section {
    padding: 60px 20px;
    
}
.section h1 {
    font-size: 51px;
    margin-top: 50px;
    
}
.section h2 {
    font-size: 24px;
    font-family: var(--default-font-family);
}
.section h3 {
    font-size: 18px;
    font-family: var(--default-font-family);
    line-height: 27px;
}
.section p {
    font-size: 15px;
    line-height: 30px;
}
.section-content {
    margin: 30px;
}
footer {
    margin: 70px 0;
}
footer .contact-info {
    background: var(--primary-color);
    padding: 30px 120px;
    border-radius: 10px;
}
footer .contact-info h4 {
    font-size: 48px;
    margin: 0;
}
footer .contact-info p {
    line-height: 30px;
    opacity: 70%;
    font-size: 16px;
}
footer .email-link  a{
    font-size: 20px;
}
footer .email-link a:hover {
    color: var(--branding-color);
}

footer .social-icon a {
    text-align: center;
    margin: 0 8px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    background: var(--primary-color);
    color: var(--branding-color);
    text-decoration: none;
    border-radius:50%;
    border: 1px solid var(--branding-color);
    transition: all 100ms ease-in-out;
}
footer .social-icon a:hover {
    color: white;
    background: var(--branding-color);
}
footer  p a {
    color: blue;
    text-decoration: underline;
}
@media (max-width: 900px) {
    h4 {
        font-size: 24px;
        }
    nav {
        display: flex;
        cursor: pointer;
        padding: 10px 0;
    }    
    nav a {
        font-size: 12px;
        margin-left: 10px;
    }
    .hero {
        padding: 90px 40px;
    }
    .hero p {
    font-size: 26px;
    }
    .hero h1 {
    font-size: 60px;
    }
    .hero h3 {
    font-size: 16px;
    }
    p {
    font-size: 14px;    
    } 
   .my-project-description {
    padding: 0;
    text-align: center;
    }
    .my-project-description h2 {
    font-size: 40px;
    }
    .my-project-description p {
    
    }
    .section {
        text-align: center;
        padding: 0;
    }
    .section h1 {
        font-size: 28px;
        margin-top: 100px;
    }
    .section h3 {
        font-size: 16px;
    }
    .section p {
        font-size: 14px;
    }
    footer .email-link  a{
    font-size: 15px;
}
    footer p {
    font-size: 10px;
}
}
