:root {
    --primary-color:#fefdf7;
    --branding-color: #9b690d;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
    --text-color: #272142; 
}
body{
   font-family: var(--default-font-family);
   
}
.logo {
    max-height: 40px;
}
nav {
    padding: 20px 0;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav li, a  {
    display: inline;
    list-style: none;
    text-decoration: none;
    line-height: 42px;
    margin-left: 15px;
    color: var(--text-color);
    transition: all 100ms ease-in-out;
}
nav a:hover, 
nav li.active a{
    color: var(--branding-color);
}
p {
    font-size: 18px;
    font-weight: 400;
    color: var(--text-color);
    
}
h1, h2, h3, h4, h5, h6  {
    font-family: var(--heading-font-family);
    font-weight: bold;
    color: black;
}
.hero {
    text-align: center;
    background: var(--primary-color);
    padding: 160px 20px;
}
.hero p {
    font-size: 36px;
    font-weight: 700;
    margin: 0px;
    
}
.hero h1 {
    font-size: 96px;
    font-weight: 700;
    
}
.hero h3 {
    font-size: 24px;
    font-weight: 400;
    font-family: var(--default-font-family);
    color:  var(--text-color);
}
.btn-styling {
    padding: 15px 25px;
    border-radius: 4px;
    background: var(--branding-color);
    color: white;
    
    font-size: 18px;
    font-weight: 500;
}
.my-project-description {
    padding: 100px 40px;
}
.my-project-description h2 {
    font-weight: 700;
    font-size: 55px;
}
.my-project-description p {
    line-height: 30px;
    font-weight: 400;
    font-size: 16px;
    opacity: 70%;
}
.btn-branding {
    padding: 15px 25px;
    border-radius: 4px;
    
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    font-size: 16px;
    font-weight: 500;
}
.section {
    padding: 160px 20px;
    
}
.section h1 {
    font-size: 64px;
    
}
.section h2 {
    font-size: 24px;
    font-family: var(--default-font-family);
}
.section h3 {
    font-size: 18px;
    font-family: var(--default-font-family);
    line-height: 27px;
}
.section p {
    font-size: 15px;
    line-height: 30px;
}
.section-content {
    margin: 30px;
}


@media (max-width: 900px) {
    nav a {
        font-size: 12px;
        margin-left: 10px;
    }
    .hero {
        padding: 80px 20px;
    }
    .hero p {
    font-size: 26px;
    }
    .hero h1 {
    font-size: 60px;
    }
    .hero h3 {
    font-size: 16px;
    }
    p {
    font-size: 14px;    
    } 
   .my-project-description {
    padding: 0;
    text-align: center;
    }
    .my-project-description h2 {
    font-size: 40px;
    }
    .my-project-description p {
    
    }
    .section {
        text-align: center;
        padding: 0;
    }
    .section h1 {
        font-size: 50px;
        
    }
    .section h3 {
        font-size: 16px;
    }
    .section p {
        font-size: 14px;
    }
}
