:root {
    --primary-color:#f9f7fe;
    --branding-color: #6C63FF;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
    --text-color: #272142;
}
body{
    
}
p {
    font-family: var(--default-font-family);
    font-weight: normal;
}
h1, h2, h3, h4, h5, h6  {
    font-family: var(--heading-font-family);
    font-weight: bold;
}
.hero {
    text-align: center;
    background-color:var(--primary-color);
    padding: 140px 90px;
}
.hero p {
    font-size: 36px;
    font-weight: 700;
    margin: 0px;
    color:var(--text-color);
}
.hero h1 {
    font-size: 96px;
    font-weight: 700;
    color: black;
}
.hero h3 {
    font-size: 24px;
    font-weight: 400;
    font-family: var(--default-font-family);
    color:  var(--text-color);
}
.btn-styling {
    padding: 18px 30px;
    border-radius: 4px;
    background: var(--branding-color);
    color: white;
    font-family: var(--default-font-family);
    font-size: 18px;
    font-weight: 500;
}